<header class="header">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__list-item"><a href="#">О нас</a></li>
            <li class="header__list-item"><a href="#">Каталог</a></li>
            <li class="header__list-item"><a href="#">Отзывы</a></li>
        </ul>
        <a class="header__logo" href="#">
            <object type="image/svg+xml" data="/src/assets/svgs/logo.svg">
            </object>
        </a>
        <ul class="header__nav-list">
            <li class="header__list-item"><a href="#">Оплата и доставка</a></li>
            <li class="header__list-item"><a href="#">Контакты</a></li>
        </ul>
    </nav>
</header>
