@use "sass:color";
@import "src/styles/variables/global";


.header {
  padding: 20px 60px;

  border-radius: 20px;
  background: rgba($color-brown, 0.2);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;

    font-weight: 600;

    &-list {
      display: flex;
    }
  }

  &__list-item {
    line-height: $font-size-s;

    &:not(:first-child)::before {
      padding: 0 24px;

      content: '\2022';

      color: $color-cream;
    }
  }

  &__logo {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }
}


