{% extends "src/templates/base-template.html" %}

{% block page_title %}Главная{% endblock page_title %}

{% block styles %}
    <link rel="stylesheet" href="src/templates/pages/main-page/first-block/first-block.scss" />
    <link rel="stylesheet" href="src/templates/pages/main-page/second-block/second-block.scss" />
    <link rel="stylesheet" href="src/templates/pages/main-page/third-block/third-block.scss" />
{% endblock %}

{% block content %}
    {% include "src/templates/pages/main-page/first-block/first-block.html"  %}
    {% include "src/templates/pages/main-page/second-block/second-block.html"  %}
    {% include "src/templates/pages/main-page/third-block/third-block.html"  %}
{% endblock %}
