{% extends "src/templates/base-template.html" %}

{% block page_title %}Главная{% endblock page_title %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="src/templates/includes/header/header.scss" />
    <link rel="stylesheet" href="src/templates/pages/main-page/first-block/first-block.scss" />
    <link rel="stylesheet" href="src/templates/pages/main-page/second-block/second-block.scss" />
    <link rel="stylesheet" href="src/templates/pages/main-page/third-block/third-block.scss" />
{% endblock %}

{% block content %}
    {% include "src/templates/pages/main-page/first-block/first-block.html"  %}
    {% include "src/templates/pages/main-page/second-block/second-block.html"  %}
    {% include "src/templates/pages/main-page/third-block/third-block.html"  %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="src/templates/pages/main-page/third-block/third.block.js"></script>
{% endblock %}
