<!doctype html>
<html lang="ru">
    <head>
        <title>{% block page_title %}{% endblock page_title %} - Струга</title>
        <meta charset="UTF-8" />
        <!--    <link rel="icon" type="image/svg+xml" href="/vite.svg" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="src/styles/index.scss" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block styles %} {% endblock %}
    </head>

    <body>
        <main>{% block content %} {% endblock %}</main>

        {% block scripts %}{% endblock %}
    </body>
</html>
