@import "src/styles/variables/global";
@import "src/styles/mixins";

.main-page-third-block {
  padding: 75px $padding-x-main;

  color: $color-white;

  background-color: $color-black-lt;
}

.main-page-third-block__block-title {
  margin-bottom: 48px;

  @include block-title;
}

.about-company-block__text {
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 32px;
}

.clients-slider-wrapper {
  margin-bottom: 75px;
}

.about-company-block {
  display: flex;

  margin-bottom: 48px;
  gap: 50px;

  &__images {
    display: flex;
    flex: 1;
    flex-direction: column;

    & > img {
      width: 300px;
      height: 200px;

      border-radius: 20px;
      object-fit: cover;

      &:nth-child(1) {
        transform: rotate(-5deg);
      }

      &:nth-child(2) {
        margin-left: auto;

        transform: rotate(5deg);
      }
    }
  }
}

.clients-slider {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
  }
}

.review-card {
  min-height: 250px;
  padding: 24px;

  border: 1px solid $color-cream;
  border-radius: 20px;

  font-size: $font-size-xs;

  &__stars {
    margin-bottom: 16px;
  }

  &__text {
    overflow: hidden;

    min-height: 100px;

    max-height: 100px;
  }

  &__author {
    display: flex;
    gap: 24px;

    align-items: center;

    & > img:nth-child(1) {
      border-radius: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & > p:nth-child(1) {
        color: $color-brown;

        font-weight: bold;
      }
    }
  }
}

.main-page-third-block__button-block {
  display: flex;
  justify-content: center;
}

.main-page-third-block__catalog-button {
  display: inline-block;

  margin-top: 48px;

  @include button-light;
}
