:root {
    // Colors
    --color-black: #212121;
    --color-black-dk: #171717;
    --color-brown: #be713c;
    --color-cream: #f5e2c3;

    // Fonts
    --font-family-main: 'Gilroy-Regular', serif;
    --font-family-bold: 'Gilroy-Bold', serif;
}
